      <header
      style="z-index: 50000; position: fixed; width: 100%;"
        class="bg-white h-14 flex items-center justify-between px-4 border-b border-gray-200"
      >
        <button id="menuBtn" class="text-gray-600 focus:outline-none">
          <i class="fas fa-bars text-xl"></i>
        </button>

        <a href="/logout"><button  class="text-gray-600">
          <i class="fas fa-power-off text-xl"></i>
        </button></a>
     
      </header>


      
      <header
        class="bg-white h-14 flex items-center justify-between px-4 border-b border-gray-200"
      >
      </header>    <!-- header overflow done -->