
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Complete Your Payment</h2>

<p>
After completing payment in UPI app,
click below to submit transaction details.
</p>

<a href="/user/submit-transaction/<%= depositId %>">
  <button style="padding:10px 20px;">I Have Completed Payment</button>
</a>
</body>
</html>