<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Rate</title>
    <script src="https://cdn.tailwindcss.com"></script>
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <!-- HEADER -->
    <header class="bg-teal-800 text-white px-4 py-5 rounded-b-3xl">
      <div class="flex items-center gap-3">
        <a href="/userdashboard"><i class="fa-solid fa-arrow-left text-xl cursor-pointer"></i></a>
        <h1 class="text-lg font-semibold">Game Rates</h1>
      </div>
    </header>

    <!-- CONTENT -->
    <div class="p-4 space-y-4">
      <!-- CARD -->
      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Single Digit</span>
        <span class="font-semibold">10-100</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Jodi Digit</span>
        <span class="font-semibold">10-1000</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Single Panna</span>
        <span class="font-semibold">10-1500</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Double Panna</span>
        <span class="font-semibold">10-3000</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Tripple Panna</span>
        <span class="font-semibold">10-9000</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Half Sangam</span>
        <span class="font-semibold">10-12000</span>
      </div>

      <div
        class="flex justify-between items-center bg-emerald-800 text-white px-5 py-4 rounded-xl shadow-md"
      >
        <span class="font-semibold">Full Sangam</span>
        <span class="font-semibold">10-120000</span>
      </div>
    </div>
  </body>
</html>
